<div class="p-4">
    <mat-card class="p-4 m-auto max-w-3xl">
        <app-flight-transport *ngIf="!isInEditModel"></app-flight-transport>
        <app-flight-transport-edit *ngIf="isInEditModel"></app-flight-transport-edit>
        <app-buttons-container
            [isInEditModel]="isInEditModel"
            [isDirty]="false"
            (onButtonCancel)="onButtonCancel()"
            (onButtonSave)="onButtonSave()"
            (onButtonEdit)="onButtonEdit()"></app-buttons-container>
    </mat-card>
</div>