<div class="p-4">
    <mat-card class="p-4 m-auto max-w-5xl">
        <app-flight-transport
            *ngIf="!isInEditModel"
            [flightForm]="flightFormDisplay"></app-flight-transport>
        <app-flight-transport-edit
            [flightForm]="flightForm"
            [statesList]="statesList"
            *ngIf="isInEditModel"></app-flight-transport-edit>
        <app-buttons-container
            [isInEditModel]="isInEditModel"
            [isDirty]="false"
            (onCancelButton)="onCancelButton()"
            (onFindButton)="onFindButton()"
            (onEditButton)="onEditButton()">
        </app-buttons-container>
        <div class="p-4 ml-auto font-semibold">Aéroportos: {{ flightsListCount }}</div>
        <app-icons-descriptions></app-icons-descriptions>
        <app-flights-card-list *ngIf="formFlightSubmit" [flightsList]="flightsList"></app-flights-card-list>
    </mat-card>
</div>