<div class="p-4 gap-4">
    <div class="font-semibold text-xl">Classes:</div>
    <div class="p-4 gap-4 grid sm:grid-cols-3">
        <app-transport-infos-item title="Econômica" [description]="economy === '-'? economy : economy | currency"></app-transport-infos-item>
        <app-transport-infos-item title="Executiva" [description]="business === '-'? business : business | currency"></app-transport-infos-item>
        <app-transport-infos-item title="Primeira Classe" [description]="firstClass === '-'? firstClass : firstClass | currency"></app-transport-infos-item>
    </div>

    <div class="font-semibold text-xl">Partida:</div>
    <div class="p-4 gap-4 grid sm:grid-cols-3">
        <app-transport-infos-item title="Estado" [description]="flightFormDisplay.location.state"></app-transport-infos-item>
        <app-transport-infos-item title="Data" [description]="'de ' + flightFormDisplay.date.dateMin + ' à ' + flightFormDisplay.date.dateMax"></app-transport-infos-item>
    </div>
</div>