<div class="p-4 gap-4">
    <div class="font-semibold text-xl">Passagem:</div>
    <div class="p-4 gap-4 grid lg:grid-cols-3">
        <mat-form-field>
            <mat-label>Passagem Mínima:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Passagem Máxima:</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="font-semibold text-xl">Passageiros:</div>
    <div class="p-4 gap-4 grid lg:grid-cols-3">
        <mat-form-field>
            <mat-label>Adultos:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Crianças:</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="font-semibold text-xl">Partida:</div>
    <div class="p-4 gap-4 grid lg:grid-cols-3">
        <mat-form-field>
            <mat-label>Estado:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data Mínima:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data Máxima:</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
</div>