<div class="p-4">
    <mat-card>
        <mat-card-header></mat-card-header>
        <mat-card-content>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
                <div class="flex flex-row items-center gap-4">
                    <img src="../../../assets/ticket/economy.jpg" class="rounded-sm" width="30">
                    <div>Econômica</div>
                </div>
                <div class="flex flex-row items-center gap-4">
                    <img src="../../../assets/ticket/business.jpg" class="rounded-sm" width="30">
                    <div>Executiva</div>
                </div>
                <div class="flex flex-row items-center gap-4">
                    <img src="../../../assets/ticket/first-class.jpg" class="rounded-sm" width="30">
                    <div>Primeira Classe</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>